<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jake's West Coast | About</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="w3-bar w3-black w3-padding w3-opacity w3-hover-opacity-off w3-medium">
        <a href="/" class="w3-bar-item w3-button w3-hover-green">Home</a>
    </div>
    <div class="w3-black">
      <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide w3-center">Who Am I?</h2>
        <div class="w3-row-padding w3-padding-32 w3-light-grey w3-round-large" style="margin:0 -16px">
          <div class="w3-third w3-margin-bottom">
            <img src="static/jakeswestcoast_warm_logo_square.png" style="width:100%" class="w3-hover-opacity w3-round-large">
          </div>
          <div class="w3-twothird w3-margin-bottom">
            <div class="w3-container w3-light-grey w3-round-large">
              <p>I'm Jake, a rider from the Bay Area. I enjoy being in the mountains and riding new trails! Catch me riding in the Santa Cruz mountains on the weekends. </p>
              <p>Check out my social media and Youtube to see what I've been riding! Links are below. </p>
              <button class="w3-round-large w3-button w3-black w3-margin-bottom fa fa-youtube" onclick=" window.open('https://www.youtube.com/channel/UCRuRbPZ67qkJvGyxbNUHj4w');"></button>
              <button class="w3-round-large w3-button w3-black w3-margin-bottom fa fa-instagram" onclick=" window.open('https://www.instagram.com/jakeswestcoast/');"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
