<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jake's West Coast | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="image-background">
        <img src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExdXpzcjE2bzh4bGd1MDBmNjVvajk2aHc5eXJocmoyb3hydHA5ZXoydyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/F86jaFeIpE55nvF8M5/giphy.gif" alt="Jakeswestcoast">
        <div class="textoutline w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center" style="white-space:nowrap;">
            <h1 class="w3-xxxsmall" style="font-size:8vw;font-weight:bolder;">Jake's West Coast</h1>
            <h3 style="font-size:4vw;font-weight:bolder;">My Mountaineering Diary</h3>
        </div>
    </div>
</body>
</html>
